.nav-wrapper {
  background-color: #05386b;
}
nav .brand-logo {
  color: #edf5e1;
  
}

.display-3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 1%;
  color: #05386b;
}

.lead {
  color: #05386b;
  margin: 5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #edf5e1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  width: 80%;
  height: 60px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  margin-bottom: 30px;
}

.description {
  white-space: pre-wrap;
}

.collection-item {
  text-align: center;
  border-radius: 15px;
  position: relative;
}

.hour {
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  width: 10%
}

.past {
  display: inline-block;
  background-color: #d3d3d3;
  color: white;
}

.present {
  display: inline-block;
  background-color: #ff6961;
  color: white;
}

.future {
  display: inline-block;
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  display: inline-block;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 10%;
  height: 60px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.collection {
  margin: 5%;
}

.footer{
  height: 50px;
  background-color: #05386b;
  text-align: center;
}

.footer-text {
  color: #edf5e1;
  padding-top: 16px;
}
